/*......... google font link ........*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* body */
body{
    font-family: 'Poppins', sans-serif; 
    background-color: white;
    
}

/* main */


/*...... first section of marshelo........ */
.marshelo-container {
    background-color: black;
    width:80%;
    margin:0 auto;
    height: 550px;
    border-radius: 30px;
    transition: width 2s;
}


/* transition is here */
.marshelo-container:hover{
    height: 650px;
}
.marshelo{
    display: flex;

}

/* marshelo div basic info */
.marshelo-info, h1, p{
color: white;
padding:20px
}

/* marshelo image */
.marshelo-img img{

    width:100%;
    margin-left: 120px;

}

.heading{
    font-size: 50px;
}


/* anchor */
.marshelo-info  a{
    text-decoration: none;
    color:white;
    background-color: rgb(231, 13, 13);
    padding:8px 15px;
    border-radius: 8px;
}


/* side var and players parents div */
.aside-players-parents{
display: flex;
width:900px;

}

.asides-players{
    margin-top: 150px;

}

.asides{
 flex-grow: 1;
margin-left: 120px;
}

/* side var info */
.asides-info{
   
   display: grid;
   grid-template-columns: repeat(1,1fr);
  
    background-color:black;
    width:300px;

    height:300px;
    border-radius: 10px;
}
.match{
    text-decoration: none;
    color:black;
    padding: 12px;
  align-items: center;
    font-size:16px;
    font-weight:700;
    width: 200px;
    margin-left:40px;
    margin-top:20px;
    margin-bottom: 20px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    
   
    
 }
 #id-blog{
    background-color: red;
 }



/* all players */
.players{
 flex-grow: 3;
 margin:10px;
 display: grid;
 grid-template-columns: repeat(3,1fr);
 grid-gap: 20px;
}

/* every single player image */
.player img{
    width:250px;
    border-radius: 10px;
    
}


/* every single player */
.player{
    border:1px solid rgb(224, 221, 221);
    width: 250px;
   height: 320px;
    border-radius:10px ;
}

/* players der details */
.players-description{
    padding:10px;
    text-align: center;
    
}

/* another page player */
.extra-player{
   height:200px;
}


/* another page player info */
.player-info{
    display:flex;
   
    justify-content: space-evenly;
    align-items: center;
}



/* footer */
.footer{
    background-color: black;
    margin-top:100px;
    height:300px;
}

/* footer basic info */
.footer, h1, span{
    color:white;
    text-align: center;
}

.footer h1{
    padding-top: 80px;
}
.footer span{
    margin-left: 40px;
    margin-top: 50px;
}
.anchor{
   display: flex;
    margin-top: 30px;
   justify-content: center;
   align-items: center;
  
}
.anchor a{
    padding:10px
}


/* extrapage players parents div */
.parent-div{
    display: flex;
    padding-left:15px;
    padding-top: 5px;
}
.germany-flag img{
    width: 100px;
}




/*............................. media query for mobile ...................*/




@media only screen and (max-width:688px) {

    
    .marshelo{
    flex-direction: column;
        display: grid;
   grid-template-columns: repeat(1, 1fr);
    }
    .marshelo-container{
    width:400px;
    height:900px;
    }
    .marshelo-img img{
        margin-top:0px;
        width:200px;
    }
   
    .aside-players-parents{
        grid-template-columns: repeat(1,1fr);
        flex-direction: column;

    }
    .container{
        width:100%;
    }
    
    .players{
       

   grid-template-columns: repeat(1, 1fr);
       
    
}
.player{
    flex-direction: column;
}

.div{
  
   
    display: grid;
    grid-column: auto;
    
}
.anchor{
    display: grid;
    grid-template-columns: repeat(1,1fr);

}
.footer{
    height:900px ;
}




}
/* mobile media query ended */






/*....... media query for tablet .........*/




/* ..........media query for tablet....... */
@media only screen and(min-width:768px) and (max-width:991px){
    
.marshelo-container{
    width: 1100px;
}

.aside-players-parents{
    grid-template-columns: repeat(2,1fr);
    flex-direction: column;

}
.players{
       

    grid-template-columns: 200px 200px;
    flex-direction: column;
     
 }
 .player{

 }


}


/* tried more than 100 times but failed  */







