/*......... google font link ........*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* body */
body{
    font-family: 'Poppins', sans-serif; 
    background-color: white;
    
}

/* main */


/*...... first section of marshelo........ */
.marshelo-container {
    background-color: black;
    width:80%;
    margin:0 auto;
    height: 550px;
    border-radius: 30px;
    transition: width 2s;
}
.marshelo-container:hover{
    height: 650px;
}
.marshelo{
    display: flex;

}
.marshelo-info, h1, p{
color: white;
padding:20px
}

.marshelo-img img{

    width:100%;
    margin-left: 120px;

}

.heading{
    font-size: 50px;
}
.marshelo-info  a{
    text-decoration: none;
    color:white;
    background-color: rgb(231, 13, 13);
    padding:8px 15px;
    border-radius: 8px;
}



.aside-players-parents{
display: flex;
width:900px;

}

.asides-players{
    margin-top: 150px;

}

.asides{
 flex-grow: 1;
margin-left: 120px;
}


.asides-info{
   
    border: 2px solid red;
    background-color:black;
    width:250px;

    height:250px;
    border-radius: 10px;

   display: grid;
  
   /* grid-template-rows: repeat(1fr,3); */
        
  

   
  
};


.match{
    row-gap: 20px;
    text-decoration: none;
    color:white;
    padding:20px;
    border:2px solid white;
    margin:10px;
   
}




.blog{
    background-color: rgb(185, 5, 5);
}
.players{
 flex-grow: 3;
 margin:10px;
 display: grid;
 grid-template-columns: repeat(3,1fr);
 grid-gap: 20px;
}

.player img{
    width:250px;
    border-radius: 10px;
    
}
.player{
    border:1px solid rgb(224, 221, 221);
    width: 250px;
   height: 320px;
    border-radius:10px ;
}
.players-description{
    padding:10px;
    text-align: center;
    
}
.extra-player{
   height:200px;
}
.player-info{
    display:flex;
   
    justify-content: space-evenly;
    align-items: center;
}

.footer{
    background-color: black;
    margin-top:100px;
    height:300px;
}
.footer, h1, span{
    color:white;
    text-align: center;
}
.footer h1{
    padding-top: 80px;
}
.footer span{
    margin-left: 40px;
    margin-top: 50px;
}
.anchor{
   display: flex;
    margin-top: 30px;
   justify-content: center;
   align-items: center;
  
}
.anchor a{
    padding:10px
}
.parent-div{
    display: flex;
    padding-left:15px;
    padding-top: 5px;
}
.germany-flag img{
    width: 100px;
}




/*............................. media query for mobile ...................*/




@media only screen and (max-width:688px) {

    
    .marshelo{
    flex-direction: column;
        display: grid;
   grid-template-columns: repeat(1, 1fr);
    }
    .marshelo-container{
    width:400px;
    height:900px;
    }
    .marshelo-img img{
        margin-top:0px;
        width:200px;
    }
    /* .asides-players{
        height: 8000px;
    } */
    .aside-players-parents{
        grid-template-columns: repeat(1,1fr);
        flex-direction: column;

    }
    .container{
        width:100%;
    }
    
    .players{
       

   grid-template-columns: repeat(1, 1fr);
       
    
}
.player{
    flex-direction: column;
}

.div{
  
   
    display: grid;
    grid-column: auto;
    
}
.anchor{
    display: grid;
    grid-template-columns: repeat(1,1fr);

}
.footer{
    height:900px ;
}




}






/*....... media query for tablet .........*/

